*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  width: 100%;
}

a{
  text-decoration: none;
  color: #030303;
  font-weight: 300;
}

.navWrp{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 10px;
}

.logo img{
  width: 190px;
}

.menu{
  width: 100%;
  max-width: 600px;
  display: flex;
  justify-content: space-evenly;
}

.hamburger{
  width: 45px;
  display: none;
}

.ctn{
  width: 100%;
}

.wrp{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.heroCtn{
  height: 50vh;
  background-image: linear-gradient(180deg, #0000008a, #00000049), url(./images//heroBg.webp);
}

.heroWrp{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.heroTitle{
  font-size: 70px;
  font-weight: 200;
  font-family: serif;
  color: #fffbf0;
}

.awardsCtn{
  width: 100%;
  padding: 100px 10px;
}

.awardsWrp{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.award-logos{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-shrink: 0;
  gap: 5px;
}

.award-logos li{
  width: 100%;
  max-width: 130px;
  background-color: black;
  border-radius: 10px;
  overflow: hidden;
}

.award-logos img{
  width: 100%;
  object-fit: cover;
}

.foundersWrp{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-shrink: 0;
  gap: 5px;
}

.founder{
  width: 100%;
  max-width: 500px;
  margin-bottom: 30px;
}

.founder .info{
  font-weight: 600;
  font-size: 23px;
}

.founder p{
  margin-bottom: 20px;
  font-size: 19px;
}

.founder img{
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}




/* form styling */
.formCtn{
  padding: 50px 10px;
  display: grid;
  place-items: center;
}

.form{
  width: 100%;
  max-width: 450px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 20px;
  padding: 10px;
}

.form h1{
  font-size: 2rem;
  font-weight: 200;
  font-family: serif;
  text-align: center;
}

.inputWrp{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.form input, .form select, .form textarea{
  width: 100%;
  padding: 19px 7px;
  background: none;
  outline: none;
  border: 1px solid #494949;
  border-radius: 5px;
}

.form input:focus, .form select:focus, .form textarea:focus{
  border: 1px solid #0044b9;
}

.form label{
  font-size: 16px;
  color: #232324;
}

.res{
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 12px;
  font-size: 0.9rem;
  word-wrap: break-word;
}

.formError{
  color: rgb(247, 45, 45);
  background-color: rgba(255, 0, 0, 0.05);
  border-left: 2px solid rgb(247, 45, 45);
}

.formSuccess{
  color: rgb(60, 188, 0);
  background-color: rgba(0, 255, 60, 0.06);
  border-left: 2px solid rgb(13, 255, 0);
}



/* button styling */
.bigBtn{
  width: 250px;
  background-image: linear-gradient(60deg, #f0d9fe 50%, #fcf5ff 30%);
  padding: 20px;
  border-radius: 3px;
  color: #171717;
  font-size: 1.2rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  border: none;
  cursor: pointer;
  border: 1px solid ghostwhite;
}



@media screen and (max-width: 600px){
.menu{
  width: 300px;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  background-color: white;
  position: absolute;
  top: 90px;
  right: -100vw;
  padding: 50px 30px;
  transition: all ease-in .5s;
}

.menu a{
  font-size: 20px;
}

.hamburger{
  display: block;
}

.active{
  right: 0;
}

}